* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: "PingFang SC", "Helvetica Neue", Helvetica, "microsoft yahei",
        arial, STHeiTi, sans-serif;
}
ul {
    list-style: none;
}

img {
    border: none;
    vertical-align: middle;
}

i {
    font-style: normal;
}

button {
    outline: none;
    /* border: none; */
}

/* 边框模式，合并的模式 */
/* table {
    border-collapse: collapse;
} */

th, td {
    padding: 0;
}
a {
    text-decoration: none;
}

div{
    box-sizing: border-box;
}

/* 浏览器滚动条 */
::-webkit-scrollbar {
    width: 3px;
    height: 10px;
}
::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb:vertical {
    height: 6px;
    background-color: rgba(245, 0, 0, 0.973);
    background: linear-gradient(
        to top,
        rgba(4, 247, 44, 0.5),
        rgba(248, 4, 49, 0.5),
        rgba(8, 72, 247, 0.5)
    );
    border-radius: 3px;
}
::-webkit-scrollbar-thumb:horizontal {
    width: 3px;
    background-color: rgba(2, 82, 255, 0.952);
    background: linear-gradient(
        to left,
        rgba(4, 247, 44, 0.5),
        rgba(248, 4, 49, 0.5),
        rgba(8, 72, 247, 0.5)
    );
    border-radius: 3px;
}
